#sidebar p > strong,
div#sidebar h1 {
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0px;
    background-color: #222;
    font-size: 1.4rem;
}

div#sidebar li {
    padding-left: 0.5rem;
    font-size: 1rem;
    text-decoration: none !important;
}



#sidebar ul.toc .li.expandable *,
#sidebar ul.toc .li.expandable {
    background-color: #333 !important;
    border-color: transparent !important;
}

#dokuwiki__aside #dw__toc ul.toc > .level1 ul.toc > li > div.li:hover,
#sidebar ul.toc .li.expandable .li:hover,
#sidebar ul.toc .li.expandable .li:hover *,
#sidebar ul.toc .li.expandable:hover *,
#sidebar ul.toc .li.expandable:hover,
div#sidebar li:hover {
    text-decoration: none !important;
    background-color: #444 !important;
}

#sidebar p > strong{
    line-height: auto;
    height: auto;
    color: #fff !important;
}


div#sidebar li a {
    text-decoration: none !important;
    font-size: 1rem;
    color: #fff !important;
}

.mode_search #dokuwiki__content > .group, .mode_login #dokuwiki__content > .group, .mode_resendpwd #dokuwiki__content > .group, .mode_register #dokuwiki__content > .group,
.mode_show #dokuwiki__content > .group {
    width: 100%;
    max-width: 100%;
}

#sidebar ul.toc {
    background-color: #333;
}

#sidebar ul.toc li {
    padding-left: 0px;
}